mg:hover {
    opacity: 0.60;
  }

img{
    border-radius: 3px;
  }

.grey {
    filter: grayscale(100%);
    }  

.menu {
  /*border: 1px solid red;*/
  padding-left: 0;
}

.menu li {
  list-style: none;
  width: 150px;
  height: 30px;
  background: lightblue;
  text-align:center;
}

.menu li a {
  display:block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 30px;
}

.menu li:hover { 
   background: darkblue;
   
}
